{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "requireConfigFile": false
    },
    "extends": [
        "plugin:nuxt/recommended",
        "plugin:prettier/recommended"
    ]
}